---
import Layout from "../layouts/Layout.astro";
import ImageContext from "../../public/sensorbucket-context.png";
import Button from "../components/Button.astro";
---

<Layout titleSuffix="">
  <div class="flex flex-col md:flex-row gap-10 mt-12">
    <div class="w-full md:w-[40%] flex flex-col gap-3">
      <h2 class="text-4xl text-primary font-merriweather font-bold">
        Receive data from differen sensor and sources with ease.
      </h2>
      <p class="font-montserrat text-primary text-lg">
        SensorBucket is an Open-Source data processing gateway, that helps you to quickly transform different sensor data formats into a unified standard.<br>
        Just connect your application to SensorBucket and access all measurements without vendor specific details.
      </p>
      <div class="flex gap-5">
        <Button href="https://developer.sensorbucket.nl" size="lg" class="bg-accent text-white">Get started</Button>
      </div>
      <p class="mt-16 bg-amber-100 border border-amber-200 p-4">This webpage is still under construction and its content and links will change over time.</p>
    </div>

    <div class="flex-1 flex justify-center">
      <img src={ImageContext.src} alt="" class="w-3/4 mx-auto">
    </div>
  </div>
</Layout>
