---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import ImageContext from "../assets/sensorbucket-context.png";
import Button from "../components/Button.astro";
---

<Layout titleSuffix="">
  <div class="flex flex-col md:flex-row gap-10 mt-12">
    <div class="w-full md:w-[40%] flex flex-col gap-3">
      <h2 class="text-4xl text-primary font-merriweather font-bold">
        Receive data from different sensor and sources with ease.
      </h2>
      <p class="font-montserrat text-primary text-lg">
        SensorBucket is an Open-Source data processing gateway, that helps you to quickly transform different sensor data formats into a unified standard.<br>
        Just connect your application to SensorBucket and access all measurements without vendor specific details.
      </p>
      <div class="flex gap-5">
        <Button href="https://developer.sensorbucket.nl" size="lg" class="bg-primary text-white">Get started</Button>
      </div>
    </div>

    <div class="flex-1 flex justify-center">
      <Image src={ImageContext} loading="eager" class="w-3/4 mx-auto" alt="Image showing a diagram containing multiple blocks representing different devices that are sending data to SensorBucket which processes it into a standardized format that is consumed by 'your application'"/>
    </div>
  </div>
  <p class="mt-16 bg-amber-100 border border-amber-200 p-4">This webpage is still under construction and its content and links will change over time.</p>
</Layout>
