
<!doctype html>
<html lang="en">
  <head>
    <title>Sensorbucket</title>
    <meta name="go-import" content="sensorbucket.nl/sensorbucket git git@github.com:sensorbucket/sensorbucket.git" />
    <meta http-equiv="refresh" content="3;url=https://sensorbucket.nl/" />
  </head>
  <body>
    <h1>Nothing to be found here</h1>
    <p>This page exists to help golang with vanity urls.</p>
    <p>You will be redirected soon</p>
  </body>
</html>
